<?php if($infolist):?>
<div id="main">

    <?php foreach($infolist as $item):?>
    <div class="post_list">

        <div class="github-widget" data-repo="<?php echo $item;?>"></div>
    </div>
    <?php endforeach;?>
    <!--
    <div class="navigation"><div class='pagination'><span class='current'>1</span><a href='/zx/page/2' class='inactive' >2</a><a href='/zx/page/3' class='inactive' >3</a><a href='/zx/page/4' class='inactive' >4</a><a href='/zx/page/5' class='inactive' >5</a><a href='/zx/page/6' class='inactive' >6</a><a href='/zx/page/2' class='page_next'>下一页 »</a><a href='/zx/page/249' class='fir_las'>最后</a></div>
    </div>-->
</div>
 <?php endif;?>
