<div class="container">
    <div class="tips"><h1>找回密码</h1></div>
    <div class="page-account-clean page-forgot-password row">
        <section class="span10">
            <form method="POST" class="form-stacked" id="form-forgot-password" novalidate="novalidate">
                <p class="account-clean-alert-message error">&nbsp;</p>
                <fieldset>
                    <div class="clearfix">
                        <label for="email">E-Mail</label>
                        <div class="input" style="position: relative;">
                            <input type="email" size="30" name="email" id="email" class="xlarge">
                            <span class="help-inline"></span>
                            <div class="suggest-container" style="position: absolute; overflow: hidden; left: 0px; top: 35px; width: 308px; visibility: hidden;"></div></div>
                    </div><!-- /clearfix -->
                </fieldset>
                <div class="">
                    <button class="button primary" type="submit">发送密码取回邮件</button>
                </div>
            </form>
        </section>

        <aside class="span4">
            <p>提示： <br>
                登录的时候大小写锁定按住了吗？ <br><br>
            </p>
            <p>» 没有YYabc帐号？<a href="/signup">立即注册</a><br>
                » 还是不行？<a href="javascript:void(0);">联系技术支持</a></p>
        </aside>
    </div>

</div>