<div id="main">
    <div class="post_list">
        <p class="title">郭威</p>
        <div class="line">
            <p>性别:男</p>
            <p>年纪:89年</p>
        </div>
        <div class="line">
            <p>籍贯:湖北</p>
            <p>工作年限:3年</p>
        </div>
        <div class="line">
            <p>手机:13774355074</p>
            <p>邮箱:364054110@qq.com</p>
        </div>
        <p class="title">自我评价</p>
        <p>3年编程经验,主攻PHP开发,Web程序开发</p>
        <p>3年多php开发经验,1年带人经验</p>
        <p>有大流量（日PV千万级），高并发程序开发经验</p>
        <p>技术开发交流群(91491754)</p>
        <p class="title">职业专长</p>
        <p>熟悉 LAMP (Linux/Apache|Nginx/MySql/PHP）环境上开发,多年的Linux桌面环境办公经验；</p>
        <p>熟练使用 PHP/Python/ASP/JavaScript/Java 编程,且有丰富的开发经验</p>
        <p>熟悉多种PHP框架和JavaScript框架,使用jQuery框架经验丰富</p>
        <p>熟悉HTML5/NodeJS/AJAX/JSON/XML/SOAP/CSS/XHTML 等 Web相关技术</p>
        <p>熟悉Ansible等自动化运维工具</p>
        <p>具有MySQL数据库索引优化,查询优化和存储优化经验</p>
        <p>具备良好的代码编程习惯及较强的文档编写能力；</p>
        <p class="title">教育经历</p>
        <p>湖北十堰汽车技术学院(二本一院校)本科-信息管理与信息系统方向</p>
        <p class="title">工作经历</p>
        <p>2012.3&nbsp;&nbsp;&mdash;&nbsp;至今 就职于 安居客集团（anjuke.com),主要负责Job调度平台,版本管理发布平台,测试环境维护和优化,数据库优化工作,Ansible自动化运维</p>
        <p>2011.6&nbsp;&mdash;&nbsp;2012.3 就职于 上海新浪（sina.com），主要从事php开发</p>
        <p>2010.6&nbsp;&mdash;&nbsp;2011.3 就职于 上海腾讯一外包公司</p>
        <p class="title">个人介绍</p>
        <p>个性开朗,爱交朋友,唱歌,摄影,看MM,桌球,羽毛球</p>
        <p>GitHub:https://github.com/apanly</p>
        <p>个人微信<br/>
        <img src="<?php echo $wxfollowimage;?>"/>
        </p>
    </div>
</div>



