<?php if($datalist):?>
<div id="main">
    <?php foreach($datalist as $item):?>
    <div class="post_list">
        <div class="excerpt">
            <div class="thumbnail"><a href="javascript:void(0);">
                <img width="200" height="121" src="<?php echo $item['IMGURI'];?>" class="attachment-post-thumbnail wp-post-image" /></a></div>
            <p><?php echo $item['ECONTENT'];?></p>
            <p><?php echo $item['ZCONTENT'];?></p>
        </div>
    </div>
    <?php endforeach;?>
    <?php $this->component("Global_Page_pgnation",array("pageinfo"=>$pageinfo));?>
</div>
<?php endif;?>