<div id="main-content">
    <?php if($datalist):?>
    <div id="record-list">
        <div class="data-list">
            <ul>
                <?php foreach($datalist as $data):?>
                <li>
                    <div class="example english">
                        <h2><?php echo $data['IDATE'];?></h2>
                        <div class="pic-show"><img src="<?php echo $data['IMGURI'];?>">
                        </div>
                        <div class="content">
                            <p class="sen"><?php echo $data['ECONTENT'];?></p>
                            <p class="trans"><?php echo $data['ZCONTENT'];?></p>
                        </div>
                    </div>
                    <!--SHARE-->
                </li>
                <?php endforeach;?>
            </ul>
        </div>
    </div>
    <?php $this->component("Global_Page_pagenation",array("pageinfo"=>$pageinfo));?>
    <?php endif;?>
</div>

<!--<div class="share-analyse" style="display: none;">
            <span class="share-to-share"><span class="share-to">
                <a data-clog="eng_share,sina" class="sina sp clog-js" href="javascript:void(0);"
                   alt="分享到新浪微博" title="分享到新浪微博">sina</a><a data-clog="eng_share,netease"
                                                            class="netease sp clog-js"
                                                            href="javascript:void(0);" alt="分享到网易微博"
                                                            title="分享到网易微博">网易</a><a
                    data-clog="eng_share,tencent" class="tencent sp clog-js"
                    href="javascript:void(0);" alt="分享到腾讯微博" title="分享到腾讯微博">腾讯微博</a><a
                    data-clog="eng_share,kaixin" class="kaixin sp clog-js"
                    href="javascript:void(0);" alt="分享到开心网" title="分享到开心网">开心</a>
            </span>
                <a class="share sp" href="javascript:void(0);" title="">分享</a></span>
</div>-->